<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.File.Abstractions" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.17.3.1378" newVersion="7.17.3.1378" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.File" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.17.3.1378" newVersion="7.17.3.1378" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.17.2.1728" newVersion="7.17.2.1728" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.17.2.1728" newVersion="7.17.2.1728" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.DI" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.17.2.1728" newVersion="7.17.2.1728" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>